:root {
  --orange: hsl(22, 65%, 57%);
  --orange-light: hsl(21deg 94% 75%);
  --dark: hsl(0deg 0% 6%);
  --grey: hsl(0deg 0% 95%);
  --grey-light: hsl(0deg 0% 98%);
  --white: hsl(0deg 0% 100%);
  --black: hsl(0deg 0% 0%);
}

.orange {
  color: var(--orange)
}
