@use '../../util' as *;

section.highlighted-items {
  margin-bottom: rem(200);

  @include breakpoint-down(medium) {
    margin-bottom: rem(96);
  }
}

.highlighted-items {
  display: flex;
  flex-direction: column;
  gap: rem(48);
  color: var(--black);

  &__text {
    width: rem(350);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: rem(24);
  }

  & > div {
    border-radius: rem(8);
    display: flex;

    @include breakpoint-down(medium) {
      flex-direction: column;
      gap: rem(64);
    }
  }

  & > div:nth-child(1) {
    height: rem(560);
    background-color: var(--orange);
    color: var(--white);
    background-image: url('./assets/home/desktop/pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: -100% 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;

    @include breakpoint-down(medium) {
      height: auto;
      background-position: 50% 120%;
    }

    & > div {
      @include breakpoint-down(medium) {
        text-align: center;
        align-items: center;
        margin-bottom: rem(64);
      }
    }

    img {
      width: rem(400);
      align-self: flex-end;
      margin-bottom: rem(-12);

      @include breakpoint-down(medium) {
        flex-direction: column;
        width: rem(200);
        align-self: auto;
        margin-top: rem(52);
      }
    }
  }

  & > div:nth-child(2) {
    height: rem(320);
    background-image: url('./assets/home/desktop/image-speaker-zx7.jpg');
    padding-left: rem(95);
    flex-direction: column;
    justify-content: center;

    @include breakpoint-down(medium) {
      padding-left: rem(61)
    }
  }

  & > div:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(30);

    & > div {
      background-color: var(--grey);
      width: 100%;
      border-radius: rem(8);
      display: flex;
      flex-direction: column;
      padding-left: rem(95);
      justify-content: center;

      @include breakpoint-down(medium) {
        padding-left: rem(40);
      }
    }

    img {
      border-radius: rem(8);
    }
  }
}