@use '../../util/' as *;

.about-us {
  margin-bottom: rem(200);

  &__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    align-items: center;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: rem(32);
    width: rem(445);

    p {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}